html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    padding: 0;
}


/* responsive breakpoint */
@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden !important;
    }

    /* navbar */
    .navbar {
        z-index: 999 !important;
    }


}